.git
.venv
__pycache__/
**/__pycache__/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.sqlite
*.db
postgrescvedumper-2024-09-26.sql
Data/
Doc/
Examples/
Code/
prospector/
servers.json/
tests/
!tests/app/
